@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600;800&family=Montserrat&display=swap");

/*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}*/

header {
}

#logo {
  font-family: "Baloo Bhaijaan 2", cursive;
  font-size: 25px;
  font-weight: 800;
  padding: 10px 10px;
  text-decoration: none;
  color: black;
}

#logo a:hover {
  color: red;
}

/* Links in top right corner */
.nav-links {
  float: right;
  margin-right: 18px;
  font-size: 19px;
  font-weight: 700;
  color: #201e1f;
}

.nav-links a {
  text-decoration: none;
  font-family: "Baloo Bhaijaan 2", cursive;
  margin-right: 17px;
  letter-spacing: 0.3px;
  transition: 0.3s;
}

.nav-links a:hover {
  opacity: 0.7;
  text-shadow: 1.5px 1.5px #c2bfc1;
}

a:hover,
a:visited,
a:active {
  color: inherit;
}

/* Top intro section */
section .hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* All sections */
section {
  margin: 0px 15px;
  padding-bottom: 5px;
}

/* Top intro section - circle and square */
.container {
  width: 90%;
  height: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
}

.square {
  width: 300px;
  height: 300px;
  background-color: #f39a9d;
  border-radius: 8px;
  box-shadow: 4px 3px 0px 0px rgb(169, 169, 169, 0.2);
}

.circle {
  height: 550px;
  width: 550px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cbe8ba;
  margin-left: -100px;
  z-index: -1;
  box-shadow: 3.5px 0px 0px 1px rgba(97, 96, 96, 0.1);
}

.circle h1 {
  font-size: 50px;
}

.circle h3 {
  margin-top: -60px;
}

/* Phone view */
@media only screen and (max-width: 800px) {
  footer {
    bottom: 0;
    font-size: 15px;
    position: fixed;
  }
  .container {
    flex-direction: column;
    width: 100%;
    margin: 0 10px;
  }
  .square {
    width: 200px;
    height: 200px;
    margin-top: 5px;
  }
  .circle {
    width: 250px;
    height: 250px;
    margin: 10px;
    align-items: center;
    justify-content: center;
  }
}

/* Font */
h1 {
  font-family: "Baloo Bhaijaan 2", cursive;
  color: #201e1f;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-family: "Montserrat", sans-serif;
}

p,
li,
ol {
  font-family: "Montserrat", sans-serif;
}

#journey-title {
}

/* Footer and social media links */
footer {
  text-align: center;
}
.social-media {
  list-style: none;
}

.social-media li {
  display: inline;
  padding-left: 10px;
}
